*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow-x: hidden ;
    overflow-y: hidden;
}
.container-lg .navbar-brand{
 background-color: #f3f4f5;
}
.btnholder{
display: flex;
}
.navbar-brand{
font-weight: 600;
display: flex;
gap: 10px;
}


.btn{
  background: #0066FF ;
  color: white;
  border-radius: 00;
}
.btnholder .holder{
  border: none;
  background-color:#f3f4f5;
  height: 40px;
width: 80px;
border-radius: 00;
text-align: center;
} 
/* hero part */
.DIV1{ 
    height: 300PX;
    width: 600PX;
     /* border: 3px solid red; */
     position: absolute;
     z-index: 2;
     margin-top: 200px;
     margin-left: 100px;
     line-height: 20px;
     font-weight: 600;
}
.DIV1 h1{
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
}
.DIV1 mark{
  background-color: yellow;
}
.main{
  height: 100vh;
  width: 100%;

}
.main input{
border-color: #0066FF;
border-radius: 00;
width: 200px;
/* border: none; */
justify-items: center;

}
.list{
  display: flex;
  margin-top: 15px;
  gap: 20PX;
}
.insta img{
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 3;
    margin-left: 680px;
    margin-top: 410px;
}


.DIV2{
   height: 700px;
    width: 900PX; 
    /* border: 3px solid red; */
    position: absolute;
    z-index: 1;
    margin-left: 330px;
    background: linear-gradient(180deg, rgba(145, 158, 189, 0.288) 0%, rgba(214, 218, 228, 0.2) 100%);
}
.blank .girl{
 /* border: 3px solid red; */
 height: 70px;
 width: 300px;
 display: flex;
 margin-left: 400px;
 border-radius: 350px;
 margin-top: 20px;
box-shadow: 4px 4px 4px rgb(177, 171, 171);
}
.girl img{
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 5px;
}
.containerpic{
    display: flex;
    width: 400px;  
    height: 400px; 
    gap: 5px;       
    border: 1px solid #000;
    margin-top: 40px;
    margin-left: 400px;
  }

  .left-pic {
    flex: 2; 
  }

  .right-pics {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 5px;
  }

  .right-pics img,
  .left-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  .logos{

    margin-top: 70px;
    margin-left: 50px
  }
  /* third */
  .third{
  height: 100vh;
  width: 100%;
  margin-top: 100px;
}
.items{
display: flex;
  flex-direction: column;
 gap: 30px;
 }

.items h2{
  font-weight: 900;
  font-size:40px ;
  width: 300px;

}
.threeh2{
    font-weight: 700;
    font-size: 40px;
}
mark{
    background-color: yellow;
}
.para{
    width: 680px;
    margin-left: 350px;
}
.card{
    text-align: center;
     display: flex;
    align-items: center;
    border: 0;
    box-shadow: 2px 2px 2px 2px rgb(219, 219, 226);
  
}
.card img{
    width: 50px;
   
}
.card1 img{
    width: 100px;
}
.card-text{
font-size: 24px;

}
.sixtext{
  color: #f3f4f5;
  font-size: 40px;
}
.six{
  background-color: #000;
  width: 100%;
  /* height: 100vh; */
  margin-top: 50px;
padding: 100px;
}
.sixpara{
  color: #f3f4f5;
}
.sixcard p{
font-size: 16px;
}
.sixcard{
  background-color: #f3f4f5;
  border-radius: 10px;
}
.outline1{
  /* height: 300px; */
  /* width: 100px; */
  left: 100px;
  top: 80px;

}
.outline2{
  left: 100px;
  top: 80px;
 
}
.seven{
/* height:80vh; */
width: 100%;
padding-left: 10px;
}
.out1{
  height: 150px;
  width: 100px;
  border-style: dotted;
  border:1px solid grey;
   border-left: none;
  border-top: none;
}
.out2{
   height: 150px;
  width: 100px;
 border:1px solid grey;
 border-style: dotted;
 border-bottom: none;
 border-left: none;
}
.box1{
   height: 60px;
  width: 100px;
 border: 1px solid grey;
  border-style: dotted;
  border-right: none;
}
.box2{
   height: 60px;
  width: 100px;
 border: 1px solid grey;
  border-style: dotted;
  border-right: none;
}
.box3{
   height: 60px;
  width: 100px;
 border: 1px solid grey;
  border-style: dotted;
  border-right: none;
}
.box4{
   height: 60px;
  width: 100px;
 border: 1px solid grey;
  border-style: dotted;
  border-right: none;
}
.box5{
   height: 60px;
  width: 100px;
 border: 1px solid grey;
  border-style: dotted;
  border-right: none;
}

.brands{
  left: 100px;
  top: 80px;
  gap: 10px;
}
.seven1{
  margin-top: 50px;
  padding-left: 100px;
}
  .seven2{
  margin-bottom: 120px;
}
.nine{
  width: 100%;
  margin-top: 20px;
}
.nine1{
margin-bottom: 30px;
}
.nineimg{
  width: 900px;
height: 25px;
}
.follow{
  margin-left:880px ;
}
.ten{
  width: 100%;
  min-height: 800px;


}
.pic2{
top: 30px;
border-radius: 20px;
}
.ten1{
  height: 600px;
  width: 400px;
  background-color: #f3f4f5;
  margin-left: 460px;
  margin-top: 150px;
}
.tenpara{
  font-size: 10px;
  width: 330px;
}
.eleven {
  width: 100%;
}
.eleven1{
  margin-left: 50px;
}
.btnholder1{
  display: flex;

}
.btnholder1 input{
width: 160px;
border-radius: 0;
}
.h2{
  font-size: 40px;
  font-weight: 800;
  width: 460px;
}
.p2{
  width: 520px;
}
.twelve{
  /* height: 100vh; */
  /* width: 100%; */
  margin-top: 100px;
  padding: 80px;

}
.twelve1{
  width: 50%;
}
.twelve2{
  width: 50%;
}
.cards {
  width: 650px;
  height: 200px;
  /* border: none; */
box-shadow: 2px 2px 4px 2px #ecf2f5;
  margin: 20px;

}
.cards p{
width: 250px;
}
  @media (max-width:576px) {
    .main{
        flex-direction: column;
    }
    .DIV1{
        margin-left: 10px;
    }
    .DIV1 h1{
        font-size: 32px;
        font-weight: 500;
    }
    .DIV1 p{
        font-size: 16px;
        width: 500px;
    }
    .third{
        margin-top: 300px;
        flex-direction: column;
    }
    .thirdpic img{
        width: 550px;
    }
    .items{
        justify-content: center;
        align-items: center;
    }
    .three{
        margin-top: 200px;
        }
    .threeh2{
    font-weight: 700;
    font-size: 30px;
    margin-top: 25px;
}
.para{
    margin-left: 50px;
    font-size: 16px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .fivecard{
  flex-direction: column;
 }
 .fivecard{
  margin-left: 100px;
 } 
 .sixth{
  flex-direction: column;
 } 
 .seven{
  flex-direction: column;
 } 
 .eight{
  flex-direction: column;
 }
 .eight img{
  width: 150px;
  height: 40px;
  margin-left: 180px;
 }
 .nine{
  flex-direction: column;
 }
 .follow{
  margin-left: 350px;
 }
.nineimg{
  width: 550px;
}
.ten1{
margin-top:150px ;
margin-left:100px ;
}
.pic1{
  height: 100vh;
  width:100% ;
  margin-top: 100px;
}
.twelve{
  display: flex;
  margin-left: 30px;
}
.twelve1{
  flex-direction: column;
}
.twelve2{
  flex-direction: column;
}
.cards{
  width: 300px;
}
}
  